<%= form_for current_user, url: profile_update_path do |f| %>
  <%=
    render partial: 'partials/user_form_template', locals: {f: f, value: current_user.email}
  %>
  <p><%= f.submit 'Update Profile' %></p>
<% end %>
