<%= form_for @user, url: admin_update_user_profile_path(@user) do |f| %>
  <%=
    render partial: 'partials/user_form_template', locals: {
      name: @user.name,
      value: @user.email,
      f: f
    }
  %>
  <p><%= f.submit "Update Profile" %></p>
<% end %>
